@{
    ViewData["Title"] = "Home Page";
}
@section Header{ 
    <link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />
}

<div id="bot"></div>

@section Scripts{
    <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat-es5.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $.post("Home/StartConversation", function (data) {
            var botLanguage = 'nl'
            var botConnection = new BotChat.DirectLine({ token: data.token });
            var user = {
                id: 'userid',
                name: 'username'
            }
            var bot = {
                id: 'botid',
                name: 'botname'
            }
            BotChat.App({
                directLine: botConnection,
                user: user,
                bot: bot,
                resize: 'detect'
            }, document.getElementById("bot"));

            botConnection.postActivity({
                from: user,
                name: 'SetLanguage',
                type: 'message',
                value: botLanguage
            }).subscribe(id => console.log("success"));
        });
    </script>
}
